<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Serial No.
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Topics
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Posts
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Last Post</th>
            </tr>
          </thead>
          <tbody>

            {% for obj in boards %}
              {% if forloop.counter|divisibleby:2 %}
              <!-- Even row -->
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                  {{forloop.counter}}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-blue-500">
                  <a href="{{obj.get_absolute_url}}">{{obj.name}}</a>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  {{obj.topics.count}}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  0
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-left text-sm leading-5 font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900"></a>
                </td>
              </tr>

              {% else %}
              <!-- odd row -->
              <tr class="bg-gray-50">
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                  {{forloop.counter}}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-blue-500">
                  <a href="{{obj.get_absolute_url}}">{{obj.name}}</a>
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  {{obj.topics.count}}
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  0
                </td>
                <td class="px-6 py-4 whitespace-no-wrap text-left text-sm leading-5 font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900"></a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
