{% extends 'base.html' %}


{% block head %}
<title>Boards</title>
<style type="text/css">
	.clickable-row{
		cursor: pointer;
		color: blue;
	}
</style>
{% endblock %}



{% block body %}

<div class="container">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Serial No.</th>
	      <th scope="col">Name</th>
	      <th scope="col">Topics</th>
	      <th scope="col">Post</th>
	      <th scope="col">Last Post</th>
	    </tr>
	  </thead>
	  <tbody>

	  	{% for obj in boards %}
	    <tr>
	      <th scope="row">{{forloop.counter}}</th>
	      <td class='clickable-row' data-href="{{obj.get_absolute_url}}">
	      	{{obj.name}}
	      </td>
	      <td>{{obj.topics.count}}</td>
	      <td>0</td>
	      <td></td>
	    </tr>
	    {% endfor %}

	  </tbody>
	</table>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">

$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

</script>
{% endblock %}