{% extends 'base.html' %}

{% block head %}
  <title>All Topics</title>
{% endblock %}

{% block body %}
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Serial No.</th>
          <th scope="col">Name</th>
          <th scope="col">User</th>
          <th scope="col">Board</th>
          <th scope="col">Total Posts</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in topics %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>
            <a href={{obj.get_absolute_url}}>
            {{obj.subject}}
            </a>
          </td>
          <td>{{obj.user}}</td>
          <td>{{obj.board}}</td>
          <td>{{obj.posts.count}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
